@font-face {
    font-family: "Times New Roman", Times, serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px "Times New Roman", Times, serif;
}

form {
    background: #000;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    border: 0;
    padding: 10px;
    min-width: 83%;
    margin-right: 1%;
    border-radius: 3px;
    font-family: "Times New Roman", Times, serif;
}

form button {
    min-width: 15%;
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 14px;
    border-radius: 3px;
}
form button:hover {
    background-color: #16a085;
    cursor: pointer;
}

#messages {
    list-style-type: none;
    margin: 0;
    margin-bottom: 65px !important;
    padding: 0;
}

.me {
    background: #95a5a6;
    color: white;
}

.other {
    background: #ecf0f1;
}

.time {
    font-size: 9px;
    text-align: center;
}

.line {
    height: 1px;
    color: #b1becc;
    background-color: #b1becc;
    border: none;
}

.line-other {
    height: 1px;
    color: #d9dbdc;
    background-color: #d9dbdc;
    border: none;
}

#messages li {
    padding: 5px 10px;
    margin: 10px;
    border-radius: 3px;
}

#messages {
    margin-bottom: 40px
}
